<div class="large-12 columns">
    <div class="box">
        <div class="box-header bg-transparent">
            <!-- tools box -->
            <div class="pull-right box-tools"> <span class="box-btn" data-widget="collapse"><i class="icon-minus"></i>
                </span> </div>
            <h3 class="box-title"><i class="fontello-th-outline"></i>
                <span>Procedure List</span>
            </h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body " style="display: block;">
            <div class="row" style="margin-bottom:10px;">
            <table id="footable-res2" class="demo" data-filter="#filter" data-filter-text-only="true">
                <thead>
                    <tr>
                        <th data-toggle="true"> Procedure Name </th>
                        <th data-hide="phone,tablet"> Time Est. </th>
                        <th> CPT ID </th>
                        <th data-hide="phone"> Patient Position </th>
                        <th data-hide="phone"> Req. Personnel </th>
                    </tr>
                </thead>
                <tbody>
                    {{#procedure}}
                    <tr>
                        <td>{{procedureName}} </td>
                        <td>{{procedureTime}}</td>
                        <td>{{procedureCptId}}</td>
                        <td>{{procedurePosition}}</td>
                        <td>{{procedureRequiredPersonnel}}</td>

                    </tr>
                    {{/procedure}}
                </tbody>
                </tbody>
            </table>
            <br>
        </div>
        <!-- end .timeline -->
    </div>
    <!-- box -->
</div>