<div class="large-12 columns">
    <div class="box">
        <div class="box-header bg-transparent">
            <!-- tools box -->
            <div class="pull-right box-tools"> <span class="box-btn" data-widget="collapse"><i class="icon-minus"></i>
                </span> </div>
            <h3 class="box-title"><i class="fontello-th-outline"></i>
                <span>Surgeons List</span>
            </h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body " style="display: block;">
            <div class="row" style="margin-bottom:10px;">
                <div class="large-4 columns">
                    <input class="form-control" id="filter" placeholder="Search..." type="text" /> </div>
                <div class="large-2 columns">
                    <select class="filter-status form-control">
                        <option value="active">Active</option>
                        <option value="disabled">Disabled</option>
                        <option value="suspended">Suspended</option>
                    </select>
                </div>
                <div class="large-6 columns"> </div>
            </div>
            <table id="footable-res2" class="demo" data-filter="#filter" data-filter-text-only="true">
                <thead>
                    <tr>
                        <th data-toggle="true"> Surgeon's Name </th>
                        <th data-hide="phone,tablet"> Gender </th>
                        <th> Specialty </th>
                        <th> Phone </th>
                        <th> Email </th>
                        <th data-hide="phone,tablet"> Gown Size </th>
                        <th data-hide="phone,tablet"> Glove's size </th>
                        <th data-hide="phone,tablet"> General Notes </th>
                    </tr>
                </thead>
                <tbody>
                    {{#surgeons}}
                    <tr>
                        <td>{{surgeonName}} </td>
                        <td>{{surgeonGender}}</td>
                        <td>{{surgeonSpecialty}}</td>
                        <td>{{surgeonPhone}}</td>
                        <td>{{surgeonEmail}}</td>
                        <td>{{surgeonGownSize}}</td>
                        <td>{{surgeonGloveSize}}</td>
                        <td>{{surgeonGeneralNotes}}</td>

                    </tr>
                    {{/surgeons}}
                </tbody>
            </table>
            <br>
        </div>
        <!-- end .timeline -->
    </div>
    <!-- box -->
</div>